figure{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 250px;
	border: 2px solid;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

figure img{
	margin-left: 3%;
	width: 200px;
	height: 200px;
}

figcaption{
	display: flex;
	flex-direction: column;
}

.name{
	font-size: 25px;
}

.price{
	display: flex;
	justify-content: space-around;
}

.links{
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

.links p{
	font-size: 20px;
}
