form{
	width: 150px;
	display: flex;
	flex-direction: column;
}

input[type=text], input[type=password] {
	margin-bottom: 15px;
	border: none;
	border-bottom: 2px solid;
}

input[type=submit]{
	background-color: black;
	color: white;
	width: 50px;
	height: 30px;
	border-radius: 4px;
}

a{
	padding: 5px;
	margin: 5px;
	color: black;
	text-decoration: none;
	border: 2px solid;
	border-radius: 4px;
}
